@{ Layout = "~/Views/Shared/customerlayout.cshtml"; }
<div class="text-center">
    <h3 class="text-danger"> You don't have permission to view this resource</h3>
    <img src="~/Declined.jpg" style="height:300px; width:300px" />
</div>
