@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>At MCBA we take your privacy very seriously, if you believe your details have been compropised call out toll free number +61 1300 HELP.</p>
